.post-thumbnail{
  margin-top: 15px;
  padding-right: 0px;

  margin-bottom: 30px;
}


hr {
	margin-top :0px;
	margin-bottom:5px;
	
}

img.heading {
	display: block;
	max-width:100%;
}
li.post {
	display:block;
}