<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- header -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:970px;height:90px"
         data-ad-client="ca-pub-2950255625952588"
         data-ad-slot="4331014951"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
